// @font-face {
//   font-family: Cardo;
//   src: url("../fonts/Cardo-Regular.ttf");
// }
@font-face {
  font-family: or;
  src: url("../fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: Eczar;
  src: url("../fonts/Eczar-VariableFont_wght.ttf");
}
// @font-face {
//   font-family: Orbitron;
//   src: url("../fonts/Orbitron-VariableFont_wght.ttf");
// }
